.MD {
    max-width: 78rem;
    margin-inline: auto;
}

.MD * {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.MD a {
    color: #687fff;
}

.MD a:hover {
    color: #92a2ff;
}

.MD code {
    font-family: 'FiraCodeNerd';
    background-color: #303030;
    padding-inline: 0.2rem;
    border-radius: 5px;
}
.MD code:not(.hljs)::before {
    content: "'";
    color: gray;
}

.MD code:not(.hljs):after {
    content: "'";
    color: gray;
}

.MD icon {
    font-family: 'NerdSymbols';
}
.MD iconlg {
    font-family: 'NerdSymbols';
    font-size: large;
}

.hljs {
    border-radius: 5px;
}