.MD {
    max-width: 78rem;
    margin-inline: auto;
}

.MD * {
    color: white;
    font-family: 'DejavuNerd' ;
}

.MD a {
    color: #0026ff;
}

.MD a:hover {
    color: #556fff;
}

.MD code {
    font-family: 'FiraCodeNerd';
    background-color: #303030;
    padding-inline: 0.2rem;
    border-radius: 5px;
}
.MD code:not(.hljs)::before {
    content: "'";
    color: gray;
}

.MD code:not(.hljs):after {
    content: "'";
    color: gray;
}


.hljs {
    border-radius: 5px;
}