<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <!-- Font Preload -->
    <link rel=“preload” href=“/fonts/dejavunerd-bold.woff” as=“font”>
    <link rel=“preload” href=“/fonts/dejavunerd-reguar.woff” as=“font”>
    <link rel=“preload” href=“/fonts/firacodenerd-bold.woff” as=“font”>
    <link rel=“preload” href=“/fonts/firacodenerd-reguar.woff” as=“font”>
    <link rel=“preload” href=“/fonts/NerdSymbols.woff” as=“font”>

    <!-- Styles -->
    <link rel="stylesheet" href="/fonts/fons.css">
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/mdformat.css">
    <link rel="stylesheet" href="/modules/highlight/styles/dark.min.css">
    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
    <script src="/modules/highlight/highlight.min.js"></script>

    <!-- language sets -->
    <script src="/modules/highlight/languages/css.min.js"></script>
    
</head>
<body>
    <div id="Loading" class="loading">
        <div style="opacity: 0; position: absolute; scale: 0; user-select: none;">
            <span style="font-family: 'DejavuNerd';">DejavuNerd</span>
            <span style="font-family: 'DejavuNerd'; font-weight: bold;">DejavuNerd Bold</span>
            <span style="font-family: 'FiraCodeNerd';">FiraCodeNerd</span>
            <span style="font-family: 'FiraCodeNerd'; font-weight: bold;">FiraCodeNerd Bold</span>
        </div>
        <div class="loading-center">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div style="color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 55px;">
                <h3 style="margin-bottom: 3px;">Loading</h3>
                <code id="loading-status"></code>
            </div>
        </div>
    </div>
    <div id="MDview" class="MD">

    </div>
    <!-- Markdown render -->
    <script src="/modules/anime.min.js"></script>
    <script src="/modules/markdown-it.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>