<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <link rel="stylesheet" href="/fonts/fons.css">
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/mdformat.css">
    <link rel="stylesheet" href="/modules/highlight/styles/dark.min.css">
    <script src="/modules/highlight/highlight.min.js"></script>

    <!-- language sets -->
    <script src="/modules/highlight/languages/css.min.js"></script>
    
</head>
<body>
    <div id="Loading" class="loading">
        <div class="loading-center">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
    </div>
    <div id="MDview" class="MD">

    </div>
    <!-- Markdown render -->
    <script src="/modules/anime.min.js"></script>
    <script src="/modules/markdown-it.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>